<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" parallel="false" thread-count="1">
    <test name="Login and Inventory Flow Test">
        <!-- Run LoginTest first -->
        <classes>
            <class name="Basics.LoginTest">
                <methods>
                    <include name="loginWithValidDetails"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Inventory Form Test">
        <!-- Run InventoryFormTest second -->
        <classes>
            <class name="Basics.InventoryFormTest">
                <methods>
                    <include name="fillInventoryForm"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

